.embla {
    overflow: hidden;
}

.embla__container {
    display: flex;
}

.embla__slide {
    position: relative;
    flex: 0 0 100%;
}


// @media (min-width: 1300px) {
//     .embla {
//         height: calc(100vh - 115px);
//     }
// }