.container__modal__contact {

    .modal__contact__title {
        font-size: 36px;
        color: $active;
    }

    hr {
        border-top: 1px solid $active;
        // background-color: $active;
    }
}