.load__app {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #001781;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: center;
}

.load__app object {
    width: 500px;
    padding-right: 7px;
    animation: load .6s infinite ease-in-out;
}

@media (max-width: 576px) {
    .load__app object {
        width: 250px;    
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -35%);
    }   
}

@keyframes load {
    0% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}