.container__section__info {
    background: linear-gradient(to right, $secondary 45%, #FFFFFF 50%);
    
    @media (max-width: 992px) {
        background: transparent;
    }
    
    .section__info__description {
        border-radius: 0 0 5px 0;
        // border: 1px solid white;
        background-color: $secondary;
        color: #FFFFFF;
    }
    
    .section__info__buy {
        padding-left: 20px;
        background-color: #FFFFFF;
        color: $secondary;
    }
}