.footer {
    grid-area: footer;
    background-color: $secondary;

    .footer__title {
        color: white;
        font-weight: 500;
        font-size: 14px;
    }

    .footer__info, a {
        color: #CBCBCB;
        font-size: 14px;
    }

    small {
        color: white;
    }

    @media (max-width: 800px) {
        .footer__social {
            justify-content: center !important;
        }
    }
}

.footer-link {
    text-decoration: underline;
}