$breakpointMenu: 992px;

.navbar {
    // position: fixed;
    // width: 100%;
    height: $navbar-height;
    grid-area: navbar;
    color: #FFFFFF;
    font-family: 'Abel', sans-serif;
    background-color: $primary;
    // z-index: 2;
    // font-family: 'Open Sans', sans-serif;

    .navbar__icon__bars {
        display: none !important;
    }

    @media (max-width: $breakpointMenu) {
        padding-left: 16px;
        padding-right: 35px;

        .navbar__icon__bars {
            display: flex !important;
        }

        .navbar__list {
            position: fixed;
            top: calc(#{$navbar-height} - 1px);
            background-color: $primary;
            left: 0;
            z-index: 3;
            height: 100%;
            width: 100%;
            flex-direction: column;
            justify-content: start !important;
            align-items: center;
            // transition: .3s;
            padding-top: 110px;
            transform: translateX(-100%);
            
            &.menuIsActive {
                transform: translateX(0);
                transition: 0.3s;
            }
        }

        .navbar__icons {
            position: fixed;
            top: calc(#{$navbar-height} + 51px);
            z-index: 3;
            width: 100%;
            left: 0;
            justify-content: center !important;
            // transition: 0.3s;
            transform: translate(100%);

            &.menuIsActive {
                transform: translateX(0);
                transition: 0.3s;
            }
        }

        .navbar__icon__bars {    
             i {
                font-size: 35px;
             }
        }
    }
}

.navbar__logo {
    width: 150px;//120px;
    cursor: pointer;
}

.navbar__icons i {
    font-size: 25px;
    cursor: pointer;
}

.navbar__list {
    font-size: 18px;
}

.navbar__list > * {
    cursor: pointer;
    text-decoration: none;
    color: #FFFFFF;
    padding: 7.5px;
    transition: all .2s ease-out;
}

.navbar__list > *:hover {
    // color: $secondary;
    border-radius: 1px;
    outline: 1px solid $secondary;
    background-color: #FFFFFF;
    // background-color: #111D4A;
    // text-decoration: underline $secondary;
    color: $primary;
}

.navbar__item__active {
    border-radius: 1px;
    outline: 1px solid $secondary;
    background-color: #FFFFFF;
    color: $primary;
}