.container__options__courses {
    @media (max-width: 576px) {
        flex-direction: column;
        gap: 10px;
    }
}

.container__courses {
    width: 100%;
    overflow: hidden;
    transition: 400ms cubic-bezier(.2,0,.38,.9);

    transform: translateX(0%);
}

.container__courses.filterOpen {
    @media (min-width: 576px) {
        transform: translateX(-280px);
        width: calc(100% + 280px); 
    }
}

.container__courses__results {
    position: relative;
    flex: 1;
    transition: 0.6s;

    .courses__results__cards {
        row-gap: 50px;
    }
}

.container__courses__results.filterIsOpenMovil {
    transform: translateY(100%);
}

.container__filter {
    width: 280px;

    @media (max-width: 576px) {
        width: 100%;
        position: absolute;
        z-index: 1;

        div {
            background-color: white;
        }
    }
}

.container__filter__body.hide {
    transform: translateX(-200%);
    transition: 0.6s;
}

.container__filter__body.show {
    transform: translateX(0%);
    transition: 0.6s;
}


.options__filter {
    width: 350px;
    border-radius: 2px;
    background-color: $light;

    @media (max-width: 576px) {
        margin-left: auto;
        margin-right: auto;
    }
}


.search__bar {
    border-radius: 2px;
    border: 1px solid $light-input;
    height: 100%;
    padding: 2px 2px 2px 20px;
    transition: 0.3s;

    @media (max-width: 576px) {
        height: 45px;
        margin-right: 16px;
        margin-left: 16px;
    }

    i {
        font-size: 25px;
        color: $light-input;
        transition: 0.3s;
    }

    .container__search {
        width: 100%;
        height: 100%;
        input {
            height: 100%;
            width: 100%;
            border-radius: 2px;
            font-size: 18px;
            padding-left: 5px;
            border: none;
            outline: none;
            caret-color: $active;
    
            &::placeholder {
                font-size: 18px;
                font-family: 'Abel', sans-serif;
            }
        }
    }

    
}

.activeElement {
    border: 1px solid $active !important;

    i {
        color: $active !important;
    }
}