
@media (max-width: 992px) {
    .container__responsive {
        flex-direction: column-reverse;
        align-content: center;
        gap: 20px;
        height: auto !important;
        padding: 1em;
    }
}