
.container__responsive {
    height: 638px;

    @media (max-width: 992px) {
        align-content: center;
        gap: 20px;
        height: auto;
    }

}

.container__responsive__reverse {
    @media (max-width: 992px) {
        flex-direction: column-reverse;
    }
}
