.social__media {
    display: inline-flex;
    gap: 40px;

    a {
        .social__media__icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 40px;
            border-radius: 5px;
        }
    
        i {
            font-size: 25px;
            color: white;
        }

    }
}

.social__media__left {
    position: absolute;
    bottom: 0;
    margin-bottom: 40px;
    transition: transform .3s ease;

    @media (max-width: 1000px) {
        left: 50%;
        transform: translate(-50%, 0);
    }
}