// $size-text: 60px;
@mixin styling($size-text) {
    .title__section {
        display: flex;

        $sizeLine: 8px;

        @if $size-text == 50px {
            $sizeLine: 13px;
        }

        div {
            height: $size-text;
            padding-bottom: 1px;
            span {
                width: 4px;
                height: calc(#{$size-text} - #{$sizeLine});
                background-color: $active;
            }
        }
    
    
        h1 {
            margin-left: 15px;
            font-size: $size-text;
            color: $active;
            font-weight: 400;
        }
    }
}

@media (max-width: 576px) {
    @include styling($size-text: 36px);
}

@media (min-width: 576px) {
    @include styling($size-text: 50px);
}
