.btn {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;

    transition: color .3s ease;

    &:focus {
        outline: none;
    }

    // &:hover {
    //     color: darken($color: white, $amount: 12);
    // }
}

.btn-primary {
    background-color: $active;
    border-radius: 5px;
    padding: 10px 20px;

    &:disabled {
        background-color: lighten($color: $active, $amount: 15);
    }

    &:hover {
        background-color: darken($color: $active, $amount: 15);
        color: darken($color: white, $amount: 12);
    }
}

.btn-cancel {
    background-color: $light;
    border-radius: 5px;
    padding: 10px 20px;
    color: $secondary;

    &:disabled {
        background-color: lighten($color: $light, $amount: 15);
    }

    &:hover {
        background-color: darken($color: $light, $amount: 15);
        color: darken($color: $secondary, $amount: 12);
    }
}

.btn-filter {
    border: 1px solid $light-input;
    border-radius: 2px;
    padding: 10px 20px;
    color: rgb(59, 59, 59);
    font-size: 18px;
    transition: 0.3s;

    i {
        color: $light-input;
    }

    &:disabled {
        background-color: lighten($color: $light-input, $amount: 15);
    }

    &:hover {
        border-color: $active;

        i {
            color: $active;
        }
    }
}

.btn-close-modal {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    background-color: $light;
    box-shadow: 0px 0px 0.3rem 0.3rem rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    color: #505050;

    i {
        font-size: 24px;
    }

    &:hover {
        background-color: darken($color: $light, $amount: 10);
        color: darken($color: #505050, $amount: 10);
    }
}


.btn-font-size-24 {
    font-size: 24px;
}