.embla {
    overflow: hidden;
    width: 100%;
}

.embla__container {
    display: flex;
}


// por defecto el padding sera de 80px
.embla__slide {
    position: relative;
    padding-right: 80px;

    @media (max-width: 576px) {    
        padding-right: 10px;
        padding-left: 10px;
        flex: 0 0 100%;
    }
}

.embla__slide__fullHeight {
    height: calc(100vh - #{$navbar-height});
    flex: 0 0 100%;
    padding: 0 !important;
}