.embla {
    overflow: hidden;
}

.embla__container {
    display: flex;
}


// por defecto el padding sera de 10px
.embla__slide {
    position: relative;
    padding-left: 10px;
    // flex: 0 0 100%;
}

.embla__slide__fullHeight {
    height: calc(100vh - #{$navbar-height});
    flex: 0 0 100%;
    padding-left: 0;
}